*,
*::before,
*::after {
    margin: 0;
    padding: 0;
    box-sizing: inherit;
}

html {
    font-size: 62.5%;
    box-sizing: border-box;
}

body {
    padding: 2rem 4rem;
    font-family: "Nunito Sans", sans-serif;
    color: #555;
    min-height: 100vh;
   background-image: none;
    background-color: #ffffff;
}

img {
    max-width: 100%;
    border-radius: 4px;
}

a {
    text-decoration: none;
    color: #333333;
}

    a:hover {
        color: #f58551;
    }

button {
    background-color: #16cc9b;
    border: 2px solid #16cc9b;
    color: #ffffff;
    transition: all 0.25s linear;
    cursor: pointer;
}

    button::after {
        position: relative;
        right: 0;
        content: " \276f";
        transition: all 0.15s linear;
    }

    button:hover {
        background-color: #f58551;
        border-color: #f58551;
    }

        button:hover::after {
            right: -5px;
        }

    button:focus {
        outline: none;
    }

ul {
    padding: 0;
    margin: 0;
    list-style-type: none;
}

input {
    transition: all 0.25s linear;
}

    input[type=number]::-webkit-inner-spin-button,
    input[type=number]::-webkit-outer-spin-button {
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        margin: 0;
    }

input {
    outline: none;
}

.container {
    width: 90%;
    margin: 0 auto;
    overflow: auto;
}

header h1 {
    font-family: "Bungee Inline", sans-serif;
    font-weight: 400;
    font-size: 3rem;
    color: black;
    margin-bottom: 2rem;
    text-align: center;
    word-spacing: 3px;
}

header.container {
    margin-bottom: 1.5rem;
}

header .breadcrumb li {
    float: left;
    padding: 0 6px;
}

    header .breadcrumb li:first-child {
        padding-left: 2px;
    }

    header .breadcrumb li:not(:last-child)::after {
        content: " \276f";
        padding-left: 8px;
    }

header .count {
    float: right;
}

.products {
    border-top: 1px solid #ddd;
}

    .products > li {
        background-color: #fff;
        padding: 1rem;
        margin-bottom: 1rem;
    }

.row {
    display: flex;
}

.col.left {
    flex-basis: 70%;
}

.col.right {
    flex-basis: 30%;
    display: flex;
    align-items: center;
}

.detail {
    padding: 0 0.5rem;
    line-height: 2.2rem;
}

    .detail .name {
        font-size: 1.2rem;
        font-weight: 700;
    }

    .detail .description {
        font-size: 1rem;
        margin: 0.7rem 0;
        line-height: 1.4;
    }

    .detail .price {
        font-size: 1.2rem;
        font-weight: 700;
    }

.quantity,
.remove {
    width: 50%;
    text-align: center;
}

    .quantity > input {
        display: inline-block;
        width: 60px;
        height: 60px;
        position: relative;
        left: calc(50% - 30px);
        background: #fff;
        border: 2px solid #ddd;
        text-align: center;
        font: 600 1.5rem Helvetica, Arial, sans-serif;
    }

        .quantity > input:hover,
        .quantity > input:focus {
            border-color: #f58551;
        }

.close {
    cursor: pointer;
    font-size: 1.5rem;
}

    .close:hover {
        color: #f58551;
    }

.promotion,
.summary,
.checkout {
    float: left;
    width: 100%;
    margin-top: 1.5rem;
}

    .promotion > label {
        float: left;
        width: 100%;
        margin-bottom: 1rem;
    }

    .promotion > input {
        float: left;
        width: 80%;
        font-size: 1rem;
        padding: 1rem 1.5rem;
        border: 2px solid #16cc9b;
    }

    .promotion:hover > input {
        border-color: #f58551;
    }

.summary {
    background-color: #f5f5f5;
    padding: 1.5rem;
}

    .summary .line {
        display: flex;
        justify-content: space-between;
        margin-bottom: 1rem;
        font-weight: 600;
    }

    .summary .total {
        font-size: 1.2rem;
        color: #16cc9b;
    }

.checkout {
    text-align: center;
}

    .checkout button {
        padding: 1rem 2rem;
        font-size: 1.2rem;
    }

        .checkout button:hover {
            background-color: #f58551;
            border-color: #f58551;
        }
